<div class="main">
    <div class="header">
        <input type="checkbox" id="checkboxInput" (click)="toggleTheme()" />
        <label for="checkboxInput" class="toggleSwitch">
        </label>
    </div>
    <div class="content">
        <input type="search" placeholder="Search by location.."      [(ngModel)]="city"        />
        
    </div>
    <div class="location">
        <button class="location-button" (click)="onLocationButtonClick()">
            <span>Location</span>
        </button>
    </div>
</div>