<div class="hourly-forecast-slider">
  <owl-carousel-o [options]="customOptions">
    @if (hourlyForecast) {

          <ng-container *ngFor="let item of hourlyForecast; let i = index">
      <ng-template carouselSlide [id]="'slide-' + i">
        <div class="weather-card" [attr.data-weather]="item.weather">
          <div class="hour">{{ item.date | date: 'shortTime' }}</div>
          <div class="icon">
            <img [src]="'../../../assets/weather_icons/set01/small/' + item.icon + '.png'" [alt]="item.summary" [title]="item.summary">
          </div>
          <div class="details">
            <p class="temperature">{{ item.temperature }}°C</p>
            <p class="wind">Wind: {{ item.wind.speed }} km/h</p>
          </div>
          <div class="summary">{{ item.summary }}</div>
        </div>
      </ng-template>
    </ng-container>
    }


  </owl-carousel-o>
</div>