
// Define theme variables
// $light-background: #ffffff;
// $light-text: #000000;
// $light-primary: #2ecc71;
// $light-btn: #570442bd;



// $dark-background: #14191f;
// $dark-text: #ecf0f1;
// $dark-primary: #1abc9c;
// $dark-btn: #fae900;

// Thema Dark
$dark-bg: #242526;
$dark-text: #FFFFFF;
$dark-border: #3A3B3C;
$dark-icon-sun: #FFD700;
$dark-icon-cloud: #A9A9A9;
$dark-btn-bg: #4CAF50;
$dark-btn-text: #FFFFFF;

// Thema Light
$light-bg: #F0F0F0;
$light-text: #212121;
$light-border: #E0E0E0;
$light-icon-sun: #FFD700;
$light-icon-cloud: #A9A9A9;
$light-btn-bg: #4CAF50;
$light-btn-text: #212121;


