
// Define theme variables
$light-background: #ffffff;
$light-text: #000000;
$light-primary: #2ecc71;
$light-btn: #570442bd;



$dark-background: #14191f;
$dark-text: #ecf0f1;
$dark-primary: #1abc9c;
$dark-btn: #fae900;
