<div class="container">
    @if (error!== null) {
        <div>
            {{ error }}
        </div>


    }

    @if (!loading && currentWeather) {

    <div class="left-sec">
      
        <div>

            <span class="temperature">{{ currentWeather?.current?.temperature }}</span>
            <span class="celsius">°C</span>
        </div>
        <div class="city-sec">
            <span class="city-name">Weather in: {{ city }}</span>
        </div>
    </div>

    



    <!-- ########################################################################################### -->
    <div class="weather-sec">
        <img [src]="'../../../assets/weather_icons/set01/big/' + currentWeather?.current?.icon_num + '.png'"
            alt="weather icon" class="weather-icon" />
        <span class="weather-description"> Weather: {{ currentWeather?.current?.summary }}</span>


    </div>



    <!-- ############################################################### -->


    <div class="content-sec">
        <div class="content-sec-item">
            <div class="details-item">
                <img src="../../../assets/weather_icons/set05/small/9.png" alt="wind icon" />
                <span>Wind : </span>
                <span>{{ currentWeather?.current?.wind?.speed }} km/h</span>
            </div>

            <div class="details-item">
                <img src="../../../assets/weather_icons/set03/small/5.png" alt="cloud icon" />
                <span>Cloud Cover:</span>
                <span>{{ currentWeather?.current?.cloud_cover }}%</span>
            </div>
            <div class="details-item">
                <img src="../../../assets/weather_icons/set03/small/25.png" alt="precipitation icon" />
                <span>Precipitation : </span>
                <span>{{ currentWeather?.current?.precipitation?.total }} mm</span>
            </div>
        </div>

    </div>







    }
    @else {
    <div class="loading-sec">
        <app-spinner></app-spinner>
        <div class="loading-text">Please wait</div>
    </div>
    }
</div>


<div class="hourlyForecast-sec">
    <app-hourly-forecast [hourlyForecast]="hourlyForecast"></app-hourly-forecast>

</div>