// src/styles.scss
@use './styles/themes'; // Importing the theme variables

body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
// Light Theme
body.light-theme {
  background-color: themes.$light-background;
  color: themes.$light-text;

  button {
    background-color: themes.$light-primary;
    color: themes.$light-text;
    border: 1px solid darken(themes.$light-primary, 10%);

    &:hover {
      background-color: darken(themes.$light-primary, 10%);
    }
  }
}

// Dark Theme
body.dark-theme {
  background-color: themes.$dark-background;
  color: themes.$dark-text;

  button {
    background-color: themes.$dark-primary;
    color: themes.$dark-text;
    border: 1px solid lighten(themes.$dark-primary, 10%);

    &:hover {
      background-color: lighten(themes.$dark-primary, 10%);
    }
  }
}